[Unit]
Description=Every 15 minutes -- ntfy topic-count early-warning watchdog
Requires=corporatetraveldc-ntfy-topic-count-watchdog.service

[Timer]
OnCalendar=*:0/15
Persistent=false

[Install]
WantedBy=timers.target
