[Unit]
Description=Run uber-traffic-watch every 2 minutes
Requires=corporatetraveldc-uber-traffic-watch.service

[Timer]
OnBootSec=60
OnUnitActiveSec=120
AccuracySec=10

[Install]
WantedBy=timers.target
