[Unit]
Description=Run nextcloud-cron every 5 minutes (Nextcloud-recommended interval)
Requires=nextcloud-cron.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
